<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar novo contato</title>
</head>
<body>
    <h1> Cadastre o novo contato</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}

        <input type="submit" value="Salvar">
        <input type="reset" value="Reiniciar tudo"></form><br>
        <form action="{% url 'home' %}"><input type="submit" value="Voltar para o inicio"/></form>
</body>
</html>