<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar contato de: {{contato.nome}}</title>
</head>
<body>
    <h1>Atualização de dados</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Salvar"></form><br>

    <form action="{% url 'ver_contato' contato.id %}"><input type="submit" value="Voltar" /></form><br>
    <form action="{% url 'delete' contato.id %}"><input type="submit" value="Deletar" /></form>
    
</body>
</html>